<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="favicon.ico">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Google Font -->
	<link
		href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
		rel='stylesheet' type='text/css'>
	<!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>
	<!-- Global CSS -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="template-2/css/orbit-{{.FourthStep.StyleID}}.css">
</head>

<body>
	<div class="wrapper">
		<!--//sidebar-wrapper-->
		<div class="main-wrapper">
			<section class="section">
				<h2 class="section-title name">{{.FirstStep.FirstName}} {{.FirstStep.LastName}}</h2>
				{{if .FirstStep.Designation}}
				<h2 class="section-title designation">{{.FirstStep.Designation}}</h2>
				{{end}}
				<br />
				<div class="details">
					<span class="email">
						<strong>Email:</strong>&nbsp;&nbsp;{{.FirstStep.Email}}
					</span>
					{{if.FirstStep.Phone}}
					<span class="phone">
						<strong>Phone:</strong>&nbsp;&nbsp;{{.FirstStep.Phone}}
					</span>
					{{end}}
				</div>
				<span class="address">
					<strong>Address:</strong>&nbsp;&nbsp;
					{{.FirstStep.AddressLine1}}
					{{.FirstStep.AddressLine2}}
				</span>
				<br />
				<div class="details">
					{{if .FirstStep.Website}}
					<span class="website">
						<strong>Website:</strong>&nbsp;&nbsp;{{.FirstStep.Website}}
					</span>
					{{end}}
					{{if .FirstStep.LinkedIn}}
					<span class="linkedin">
						<strong>LinkedIn:</strong>&nbsp;&nbsp;{{.FirstStep.LinkedIn}}
					</span>
					{{end}}
				</div>
				<br />
				{{if .SecondStep.ObjectiveCheck}}
				<div class="summary">
					<p>{{.SecondStep.Objective}}</p>
				</div>
				<br />
				{{end}}
			</section>

			{{if .SecondStep.ExperiencesCheck}}
			<section class="section experiences-section">
				<h2 class="section-title"></span>Experience</h2>
				<hr />
				{{range .SecondStep.Experiences}}
				<div class="item">
					<div class="meta">
						<div>{{.StartMonth}} {{.StartYear}} - {{.EndMonth}} {{.EndYear}}</div>
					</div>
					<!--//meta-->
					<div class="details">
						<div class="upper-row">
							<h3 class="job-title">{{.Title}}</h3>
						</div>
						<!--//upper-row-->
						<div class="company">{{.Employer}}, {{.Location}}</div>
						<p>{{.Description}}</p>
					</div>
					<!--//details-->
				</div>
				{{end}}
			</section>
			{{end}}

			{{if .ThirdStep.EducationsCheck}}
			<section class="section experiences-section">
				<h2 class="section-title"></span>Educations</h2>
				<hr />
				{{range .ThirdStep.Educations}}
				<div class="item">
					<div class="meta">
						<div>{{.StartMonth}} {{.StartYear}} - {{.EndMonth}} {{.EndYear}}</div>
					</div>
					<!--//meta-->
					<div class="details">
						<div class="upper-row">
							<h3 class="job-title">{{.Name}}</h3>
						</div>
						<!--//upper-row-->
						<div class="company">{{.Institution}}, {{.Location}}</div>
						<p>{{.Description}}</p>
					</div>
					<!--//details-->
				</div>
				{{end}}
			</section>
			{{end}}

			{{if .SecondStep.CertificationsCheck}}
			<section class="section certifications-section">
				<h2 class="section-title"></span>Certifications</h2>
				<hr />
				{{range .SecondStep.Certifications}}
				<div class="item">
					<div class="meta">
					</div>
					<!--//meta-->
					<div class="details">
						<div class="upper-row">
							<h3 class="job-title">{{.Title}}</h3>
						</div>
						<!--//upper-row-->
						<div class="company">{{.Institution}}</div>
						<p>{{.Description}}</p>
					</div>
					<!--//details-->
				</div>
				{{end}}
			</section>
			{{end}}

			{{range .SecondStep.Additionals}}
			{{if .Check}}
			<section class="section additional-section">
				<h2 class="section-title"></span>{{.Title}}</h2>
				<hr />
				<div class="item">
					<div class="meta">
					</div>
					<!--//meta-->
					<div class="details">
						<p>{{.Description}}</p>
					</div>
					<!--//details-->
				</div>
			</section>
			{{end}}
			{{end}}

			{{if .SecondStep.SkillsCheck}}
			<section class="skills-section section">
				<h2 class="section-title"></span>Skills</h2>
				<hr />
				<div class="skillset row">
					{{range .SecondStep.Skills}}
					<div class="item col-6">
						<h3 class="level-title">{{.SkillName}}</h3>
						<div>
							{{if (eq .Level "1")}}
							<span class="material-icons">circle</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>
							{{else if (eq .Level "2")}}
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>

							{{else if (eq .Level "3")}}
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>
							{{else if (eq .Level "4")}}
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">radio_button_unchecked</span>
							{{else if (eq .Level "5")}}
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							{{end}}
						</div>
					</div>
					{{end}}
				</div>
			</section>
			<br />
			{{end}}

			{{if .ThirdStep.HobbiesCheck}}
			<section class="section interests-section">
				<h2 class="section-title"></span>Interests</h2>
				<hr />
				<div class="main-row">
					<div class="meta"></div>
					<ul class="items">
						{{range .ThirdStep.Hobbies}}
						<li class="item">{{.}}</li>
						{{end}}
					</ul>
				</div>
			</section>
			{{end}}

			{{if .ThirdStep.LanguagesCheck}}
			<section class="skills-section section">
				<h2 class="section-title"></span>Languages</h2>
				<hr />
				<div class="skillset row">
					{{range .ThirdStep.Languages}}
					<div class="item col-6">
						<h3 class="level-title">{{.Language}}</h3>
						<div>
							{{if (eq .Level "1")}}
							<span class="material-icons">circle</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>
							{{else if (eq .Level "2")}}
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>

							{{else if (eq .Level "3")}}
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">radio_button_unchecked</span>
							<span class="material-icons">radio_button_unchecked</span>
							{{else if (eq .Level "4")}}
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">radio_button_unchecked</span>
							{{else if (eq .Level "5")}}
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							<span class="material-icons">circle</span>
							{{end}}
						</div>
					</div>
					{{end}}
				</div>
			</section>
			<br />
			{{end}}

			{{range .ThirdStep.Additionals}}
			{{if .Check}}
			<section class="section additional-section">
				<h2 class="section-title"></span>{{.Title}}</h2>
				<hr />
				<div class="item">
					<div class="meta">
					</div>
					<!--//meta-->
					<div class="details">
						<p>{{.Description}}</p>
					</div>
					<!--//details-->
				</div>
			</section>
			{{end}}
			{{end}}

			{{if .ThirdStep.DeclarationCheck}}
			<section class="section declaration-section">
				<h2 class="section-title"></span>Declaration</h2>
				<hr />
				<!--//meta-->
				<div class="details">
					<p>{{.ThirdStep.Declaration}}</p>
				</div>
				<!--//details-->
			</section>
			{{end}}
		</div>
		<!--//main-body-->
	</div>
</body>

</html>