body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: #2d7788;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #1a454f;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:focus {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

/* wefewf wefwe fwef wefwe */
.main-wrapper .section .name {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
}

.designation {
  color: #97aac3 !important;
  margin: 0;
  font-size: 22px;
}

.details .email {
  padding-right: 30px;
}

.details .website {
  padding-right: 30px;
}

.material-icons {
  font-family: 'Material Icons';
  color: #2d7788;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* efwefr43r 4343g43g 45g 4 */
.wrapper {
  position: relative;
  padding: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-wrapper {
  background: #fff;
}
.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #2d7788;
  position: relative;
  margin-top: 0;
  margin-bottom: 0px;
}
.main-wrapper .section-title .icon-holder {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #2d7788;
  text-align: center;
  font-size: 16px;
  position: relative;
  top: -8px;
}
.main-wrapper .section-title .icon-holder .svg-inline--fa {
  font-size: 14px;
  margin-top: 6px;
}
.main-wrapper .experiences-section .item {
  display: flex;
}

.skills-section .item {
  display: flex;
  justify-content: space-between;
}

.main-wrapper .experiences-section .item .meta {
  width: 20%;
}
.main-wrapper .experiences-section .item .details {
  width: 80%;
}
.main-wrapper .certifications-section .item {
  margin-bottom: 30px;
  display: flex;
}

.main-wrapper .certifications-section .item .meta {
  width: 20%;
}
.main-wrapper .certifications-section .item .details {
  width: 80%;
}

.main-wrapper .additional-section .item {
  margin-bottom: 30px;
  display: flex;
}

.main-wrapper .additional-section .item .meta {
  width: 20%;
}
.main-wrapper .additional-section .item .details {
  width: 80%;
}

.main-wrapper .interests-section .main-row {
  margin-bottom: 30px;
  display: flex;
}

.main-wrapper .interests-section .main-row .meta {
  width: 20%;
}
.main-wrapper .interests-section .main-row .details {
  width: 80%;
}

.main-wrapper .job-title {
  color: #3f4650;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.main-wrapper .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97aac3;
}
.main-wrapper .company {
  margin-bottom: 10px;
  color: #97aac3;
}

.skillset .item {
  padding: 0px 10px 0px 10px;
  align-items: center;
}
.skillset .level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}
.skillset .theme-progress-bar {
  background: #68bacd;
}

.footer {
  padding: 30px;
  padding-top: 60px;
}
.footer .copyright {
  line-height: 1.6;
  color: #545e6c;
  font-size: 13px;
}
.footer .fa-heart {
  color: #fb866a;
}

.interests-section .items .item {
  border: #2d7788 2px solid;
  padding: 1px 8px 1px 8px;
  border-radius: 5px;
  margin: 5px;
  border-width: 0px 2px 2px 2px;
}
.interests-section .items {
  margin: 5px;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10%;
  width: auto;
  margin-right: 0.5%;
  padding-left: 0;
  margin-left: 0;
}

@media (min-width: 992px) {
  .skillset .level-title {
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 0;
  }
}
